@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: #00c6ff;
  --color-text: ;
  --color-text-secondary: ;
  --color-text-muted: ;
  --color-background: ;
  --color-foreground: ;
  --color-surface: ;
  --color-border: ;
  --color-border-muted: ;
  --color-error: ;
  --color-success: ;
  --color-info: ;
  --color-warning: ;

  /* Fonts */
  --body-font: ;
  --heading-font: ;
  --accent-font: ;
  
}
